<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.triviagame">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:icon="@drawable/game_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/game_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:enabled="true" android:name=".BackgroundSoundService" />
        <activity android:name=".EndPage" android:screenOrientation="portrait" />
        <activity android:name=".ResetPasswordActivity" android:screenOrientation="portrait"/>
        <activity android:name=".QuestionPage" android:screenOrientation="portrait"/>
        <activity
            android:name=".PopUpWindow"
            android:theme="@style/AppTheme.TransparentTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".SplashScreen" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HeaderClass" android:screenOrientation="portrait"/>
        <activity android:name=".SignUpPage" android:screenOrientation="portrait"/>
        <activity android:name=".LogInPage" android:screenOrientation="portrait"/>
        <activity android:name=".CategoriesPage" android:screenOrientation="portrait"/>
        <activity android:name=".HomePage" android:screenOrientation="portrait"/>
    </application>

</manifest>